/* Navigation */

#navbar{
    flex-direction: column;
}

#navbar ul li a{

    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home Section  */

#home{

    height: 380px;
    padding: 3px 68px;
}

#home p{
    font-size: 13px;

}
#home::before{
    height: 480px;
}

/* Services Section  */

#services{

    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 2px 13px;
   margin-bottom: 20px;
}


/* Clients Section  */

#clients{
    flex-wrap: wrap;
}

#clients img{
    height: 100px;
    width: 200px;
    padding: 46px;
    margin: 10px
}

.client-item{
    display: grid;
}

/* Contact Us Section  */

#contact-box form{
    width: 80%;
}

/* Footer */

/* Utility Classes */

.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}
